@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply p-0 m-0 bg-white font-Poppins text-[15px] lg:text-base
    /* scroll-smooth; */;
  }

  .heading-xl {
    @apply text-custom-gray text-[25px] lg:text-[55px] font-Montserrat;
  }

  .heading-lg {
    @apply text-gray-600 font-medium text-[20px] lg:text-[32px] font-Montserrat;
  }

  .heading-md {
    @apply text-custom-gray text-[19px] lg:text-[26px] font-Montserrat;
  }

  .heading-sm {
    @apply text-custom-gray text-[17px] lg:text-[20px] font-Montserrat;
  }

  .header-link {
    @apply hover:text-custom-orange transition duration-300 cursor-pointer;
  }

  .header2-link {
    @apply border-b-2 border-transparent hover:text-custom-orange transition duration-300 cursor-pointer;
  }

  .link {
    @apply text-custom-orange text-sm font-semibold flex items-center gap-4 cursor-pointer hover:gap-2 hover:text-red-600 duration-300;
  }
}

/* .clip {
  clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0% 100%);
} */

/* .line-indicator li {
  @apply bg-slate-200 hover:bg-slate-300  rounded-full;
}

.line-indicator li.slick-active {
  @apply bg-slate-400;
} */

html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

/* chrome sidebar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #2f4f4f;
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: grey;
}

/* firefox sidebar */
@supports (scrollbar-color: #2f4f4f grey) {
  * {
    scrollbar-color: #2f4f4f grey;
    scrollbar-width: thin;
  }
}
